body,
html {
  width: 100%;
  height: 100%; 
}

body {
 	background-image: url(office.jpg);
	background-size: cover;
}

h1 {
	color: white;
	text-align: center;
	text-transform: capitalize;
	font-family: Indie Flower, cursive;
}

/* Removed button
.w3-button {
	background-color: yellow;
}*/

.title {
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav {
	justify-content: center;
}


.btn-danger:hover {
	background-color: black;
}